## começo do gitignore do front-end
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
/front/biblioteca/migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
/front/biblioteca/.dart_tool/
/front/biblioteca/.flutter-plugins
/front/biblioteca/.flutter-plugins-dependencies
/front/biblioteca/.pub-cache/
/front/biblioteca/.pub/
/front/biblioteca/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/front/biblioteca/android/app/debug
/front/biblioteca/android/app/profile
/front/biblioteca/android/app/release

## Fim do gitignore do front-end

## gitignore do back-end
back/build/*
/*.exe
**/.env

